/* 모바일------------------------------------------------------------------ */
/* body{background: coral;} */
* {
  box-sizing: border-box;
  cursor: none;
}

:root {
  --cursor-1-bg: #ffffff;
  --cursor-2-bg: #c5c5c5;
  --cursor-3-bg: #f1f68f;
  --cursor-4-bg: #b0efda;
  --cursor-5-bg: #d5c9fb;
  --cursor-6-bg: #ffbc90;
  --cursor-1-bg-line: #eef1f4;
  --cursor-2-bg-line: #ffffff;
  --cursor-3-bg-line: #fbffa6;
  --cursor-4-bg-line: #c8fae9;
  --cursor-5-bg-line: #f1ecff;
  --cursor-6-bg-line: #ffdac2;
  --curzr-logo-color: #292927;
}
:root body {
  position: relative;
  width: 100%;
  font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 0.875rem;
  overflow: hidden;
  color: #292927;
}
:root body header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  z-index: 7;
  padding: 2rem;
}
:root body header span {
  overflow: hidden;
  transition: 250ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
:root body header span:hover {
  opacity: 0.75;
}
:root body header span:first-child > * {
  display: inline-block; position: absolute; right: 5%;
}


:root body .container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-size: 40px 80px;
  background-position: center;
  background-attachment: fixed;
}
:root body .container-cursor-1 {
  z-index: 6;
  background-color: var(--cursor-1-bg);
  background-image: linear-gradient(var(--cursor-1-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-1-bg-line) 1px, var(--cursor-1-bg) 1px);
}
:root body .container-cursor-2 {
  z-index: 5;
  background-color: var(--cursor-2-bg);
  background-image: linear-gradient(var(--cursor-2-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-2-bg-line) 1px, var(--cursor-2-bg) 1px);
}
:root body .container-cursor-3 {
  z-index: 4;
  background-color: var(--cursor-3-bg);
  background-image: linear-gradient(var(--cursor-3-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-3-bg-line) 1px, var(--cursor-3-bg) 1px);
}
:root body .container-cursor-4 {
  z-index: 3;
  background-color: var(--cursor-4-bg);
  background-image: linear-gradient(var(--cursor-4-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-4-bg-line) 1px, var(--cursor-4-bg) 1px);
}
:root body .container-cursor-5 {
  z-index: 2;
  background-color: var(--cursor-5-bg);
  background-image: linear-gradient(var(--cursor-5-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-5-bg-line) 1px, var(--cursor-5-bg) 1px);
}
:root body .container-cursor-6 {
  z-index: 1;
  background-color: var(--cursor-6-bg);
  background-image: linear-gradient(var(--cursor-6-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-6-bg-line) 1px, var(--cursor-6-bg) 1px);
}

/* footer --------------------- */
:root body footer {
  z-index: 10;
  position: fixed;
  display: flex;
  bottom: 0;
  justify-content: space-between;
  width: 100%;
  height: 15%;
  z-index: 10;
  padding: 1.5rem 2rem 2rem 1rem;
  line-height: 1.25;
  font-size: 1em;
}
:root body footer span {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
:root body footer span > * {
  display: inline-block;
}
:root body a {
  color: #292927;
  text-decoration: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: none;
}
:root body small.shift-in {
  position: relative;
}
:root body small.shift-in::after {
  content: attr(data-text);
  position: absolute;
  bottom: -100%;
  left: 0;
}

/* main-show------------------------ */
.main-box{display: flex;
position: fixed;
z-index: 10; width: 90%; height: 155%; 
top: 20vh;}


/* 캐릭터 --------------------------------------- */
  .myname{
  position: absolute;
  z-index: 10;
}

:root body .myname img{
  min-width: 10vw;
  max-width: 50vw;
  opacity: 1;
-webkit-transition: .3s ease-in-out;
transition: .3s ease-in-out;
}

:root body .myname img:hover{
opacity: 1;
-webkit-animation: flash 1.5s;
animation: flash 1.5s;
}
@-webkit-keyframes flash {
0% {
  opacity: .4;
}
100% {
  opacity: 1;
}
}
@keyframes flash {
0% {
  opacity: .4;
}
100% {
  opacity: 1;
}}

:root body .myname h1{
  color: #333;
  font-size: 1.4em;
  padding-left: 2.5em;
  margin-top: 0.5em;
}

:root body .project{
position: absolute;
top: 150%;
left: 0;
width: 100%;
height: 100vh;
}



:root body .project .project_box{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 5vh;}

  :root body .introduce{
    position: absolute;
    z-index: 8;
    top: 320px;
    left: 0;
    width:85%;
    height: 50%;
    border-radius: 2vh;
    margin-left: 9%;
    box-shadow: 0px 5px 5px 5px rgba(34, 34, 34, 0.075);
    background-color: rgb(255, 255, 255);
  }
  
 :root body .introduce h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1em;
    padding: 1vh 3vh 1vh;
  }
 :root body .introduce h1 span{text-decoration: underline;
  font-weight: bold; transition: all 0.4s;}
 :root body .introduce h1 span:hover{color: #888;}
  
  .introduce p{padding: 0 3vh;
  font-size: 0.8em;
  line-height: 1.8vh;
  
  }
 :root body .introduce p span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.1em;
    font-weight: 700;}

    /* 둥실둥실 ----------- */
  :root body #dung{
    position:absolute; 
animation:ani 1.3s infinite alternate;  
}
@keyframes ani{
0%{transform:translate(0,0;)}
100%{transform:translate(10px,-30px);}
}  


  /* 태블릿------------------------------------------------------------------ */
@media all and (min-width : 768px){

  * {
    box-sizing: border-box;
    cursor: none;
  }
  
  :root {
    --cursor-1-bg: #ffffff;
    --cursor-2-bg: #c5c5c5;
    --cursor-3-bg: #f1f68f;
    --cursor-4-bg: #b0efda;
    --cursor-5-bg: #d5c9fb;
    --cursor-6-bg: #ffbc90;
    --cursor-1-bg-line: #eef1f4;
    --cursor-2-bg-line: #ffffff;
    --cursor-3-bg-line: #fbffa6;
    --cursor-4-bg-line: #c8fae9;
    --cursor-5-bg-line: #f1ecff;
    --cursor-6-bg-line: #ffdac2;
    --curzr-logo-color: #292927;
  }
  :root body {
    position: relative;
    width: 100%;
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    overflow-x: hidden;
    color: #292927;
  }
  :root body header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 7;
    padding: 2rem;
  }
  :root body header span {
    overflow: hidden;
    transition: 250ms;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  :root body header span:hover {
    opacity: 0.75;
  }
  :root body header span:first-child > * {
    display: inline-block; position: absolute; right: 3%;
  }
  
  :root body .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: 40px 80px;
    background-position: center;
    background-attachment: fixed;
  }
  :root body .container-cursor-1 {
    z-index: 6;
    background-color: var(--cursor-1-bg);
    background-image: linear-gradient(var(--cursor-1-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-1-bg-line) 1px, var(--cursor-1-bg) 1px);
  }
  :root body .container-cursor-2 {
    z-index: 5;
    background-color: var(--cursor-2-bg);
    background-image: linear-gradient(var(--cursor-2-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-2-bg-line) 1px, var(--cursor-2-bg) 1px);
  }
  :root body .container-cursor-3 {
    z-index: 4;
    background-color: var(--cursor-3-bg);
    background-image: linear-gradient(var(--cursor-3-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-3-bg-line) 1px, var(--cursor-3-bg) 1px);
  }
  :root body .container-cursor-4 {
    z-index: 3;
    background-color: var(--cursor-4-bg);
    background-image: linear-gradient(var(--cursor-4-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-4-bg-line) 1px, var(--cursor-4-bg) 1px);
  }
  :root body .container-cursor-5 {
    z-index: 2;
    background-color: var(--cursor-5-bg);
    background-image: linear-gradient(var(--cursor-5-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-5-bg-line) 1px, var(--cursor-5-bg) 1px);
  }
  :root body .container-cursor-6 {
    z-index: 1;
    background-color: var(--cursor-6-bg);
    background-image: linear-gradient(var(--cursor-6-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-6-bg-line) 1px, var(--cursor-6-bg) 1px);
  }
  :root body footer {
    z-index: 10;
    position: fixed;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    padding: 1.5rem 2rem;
    line-height: 1.25;
    font-size: 1em;
  }
  :root body footer span {
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  :root body footer span > * {
    display: inline-block;
  }
  :root body a {
    color: #292927;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: none;
  }
  :root body small.shift-in {
    position: relative;
  }
  :root body small.shift-in::after {
    content: attr(data-text);
    position: absolute;
    bottom: -100%;
    left: 0;
  }

  :root body .main-box{
    display: flex;
position: fixed;
z-index: 10; width: 90%; height: 155%; 
top: 10vh;
  }
  
  :root body .myname{
    position: absolute;
    z-index: 1;
    top: 5%;
  }
  
  :root body .myname img{
    min-width: 30vw;
    max-width: 30vw;
    opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  }
  
  :root body .myname img:hover{
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
  }
  @-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
  }
  @keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }}
  
  :root body .myname h1{
    color: #333;
    font-size: 3vw;
    padding-left: 70px;
  }
  
  :root body .introduce{
    position: absolute;
    z-index: 8;
    top: 65%;
    left: -1%;
    width:85%;
    height:48%;
    border-radius: 2vh;
    box-shadow: 0px 5px 5px 5px rgba(34, 34, 34, 0.075);
    background-color: rgb(255, 255, 255);
  }
  
  :root body .introduce h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    padding: 20px 40px 7px;
  }
  :root body .introduce h1 span{text-decoration: underline;
  font-weight: bold; transition: all 0.4s;}
  .introduce h1 span:hover{color: #888;}
  
   :root body .introduce p{padding: 0 40px;
  font-size: 1em;
  line-height: 1.5em;
  
  }
   :root body .introduce p span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 700;}

    /* 둥실둥실 ----------- */
  :root body #dung{
    position:absolute; 
animation:ani 1.3s infinite alternate;  
}
@keyframes ani{
0%{transform:translate(0,0;)}
100%{transform:translate(10px,-30px);}
}  
  }




/* 데스크탑------------------------------------------------------------------ */
@media all and (min-width : 960px){
* {
    box-sizing: border-box;
    cursor: none;
  }
  
  :root {
    --cursor-1-bg: #ffffff;
    --cursor-2-bg: #c5c5c5;
    --cursor-3-bg: #f1f68f;
    --cursor-4-bg: #b0efda;
    --cursor-5-bg: #d5c9fb;
    --cursor-6-bg: #ffbc90;
    --cursor-1-bg-line: #eef1f4;
    --cursor-2-bg-line: #ffffff;
    --cursor-3-bg-line: #fbffa6;
    --cursor-4-bg-line: #c8fae9;
    --cursor-5-bg-line: #f1ecff;
    --cursor-6-bg-line: #ffdac2;
    --curzr-logo-color: #292927;
  }
  :root body {
    position: relative;
    width: 100%;
    font-family: "Plus Jakarta Sans", Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    overflow-x: hidden;
    color: #292927;
  }
  :root body header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 7;
    padding: 2rem;
  }
  :root body header span {
    overflow: hidden;
    transition: 250ms;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  :root body header span:hover {
    opacity: 0.75;
  }
  :root body header span:first-child > * {
    display: inline-block; position: absolute; right: 2%;
  }


  :root body .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: 40px 80px;
    background-position: center;
    background-attachment: fixed;
  }
  :root body .container-cursor-1 {
    z-index: 6;
    background-color: var(--cursor-1-bg);
    background-image: linear-gradient(var(--cursor-1-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-1-bg-line) 1px, var(--cursor-1-bg) 1px);
  }
  :root body .container-cursor-2 {
    z-index: 5;
    background-color: var(--cursor-2-bg);
    background-image: linear-gradient(var(--cursor-2-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-2-bg-line) 1px, var(--cursor-2-bg) 1px);
  }
  :root body .container-cursor-3 {
    z-index: 4;
    background-color: var(--cursor-3-bg);
    background-image: linear-gradient(var(--cursor-3-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-3-bg-line) 1px, var(--cursor-3-bg) 1px);
  }
  :root body .container-cursor-4 {
    z-index: 3;
    background-color: var(--cursor-4-bg);
    background-image: linear-gradient(var(--cursor-4-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-4-bg-line) 1px, var(--cursor-4-bg) 1px);
  }
  :root body .container-cursor-5 {
    z-index: 2;
    background-color: var(--cursor-5-bg);
    background-image: linear-gradient(var(--cursor-5-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-5-bg-line) 1px, var(--cursor-5-bg) 1px);
  }
  :root body .container-cursor-6 {
    z-index: 1;
    background-color: var(--cursor-6-bg);
    background-image: linear-gradient(var(--cursor-6-bg-line) 1px, transparent 1px), linear-gradient(to right, var(--cursor-6-bg-line) 1px, var(--cursor-6-bg) 1px);
  }
  :root body footer {
    position: fixed;
    display: flex;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    z-index: 7;
    padding: 1.5rem 2rem;
    line-height: 1.25;
  }
  :root body footer span {
    overflow: hidden;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  :root body footer span > * {
    display: inline-block;
  }
  :root body a {
    color: #292927;
    text-decoration: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: none;
  }
  :root body small.shift-in {
    position: relative;
  }
  :root body small.shift-in::after {
    content: attr(data-text);
    position: absolute;
    bottom: -100%;
    left: 0;
  }

  /* main-show------------------------ */
  :root body .main-box{display: flex;
  position: fixed; 
  z-index: 10; width: 90%; height: 110%; 
  top: 7vh;}
  

  :root body .myname{
    position: absolute;
    z-index: 10;
    top: 3vw;
  }

  :root body .myname img{
    min-width: 22vw;
    max-width: 22vw;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  }

  :root body .myname img:hover{
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}}

  :root body .myname h1{
    color: #333;
    font-size: 3vw;
    padding-left: 70px;
  }

/* 둥실둥실 ----------- */
  :root body #dung{
    position:absolute; 
animation:ani 1.3s infinite alternate;  
}
@keyframes ani{
0%{transform:translate(0,0;)}
100%{transform:translate(10px,30px);}
}  



  :root body .introduce{
    position: absolute;
    z-index: 200;
    top: 35%;
    left: 50%;
    width: 40%;
    height: 55%;
    border-radius: 20px;
    margin-left: 6%;
    box-shadow: 0px 5px 5px 5px rgba(34, 34, 34, 0.075);
    background-color: rgb(255, 255, 255);
  }
  
  :root body .introduce h1{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 2em;
    padding: 20px 40px 7px;
  }
  :root body .introduce h1 span{text-decoration: underline;
  font-weight: bold; transition: all 0.4s;}
  .introduce h1 span:hover{color: #888;}
  
  :root body .introduce p{padding: 0 43px;
  font-size: 1em;
  line-height: 1.6em;
  
  }
  :root body .introduce p span{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1em;
    font-weight: 700;}

    /* project --------------------- */

  :root body .project{
    position: absolute;
    top: 150%;
    left: 0;
    right: 0;
    width: 100%;
    height: 10px;}
  
    :root body .project .project_box{
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100px;
    }

    :root body .slick-slide
  }
